<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7 offset5">
			<div class="row-fluid" ng-repeat="acteur in acteurs| filter:{nom:query} | orderBy:'nom'">
				  <a href="#/acteurs/{{acteur.id | escape}}" class="thumb">
					  <img ng-src="{{acteur.photoUrl}}" style="height: 30px" alt="{{acteur.nom}}"/>
				      <span>{{acteur.nom}}</span>
			      </a>
			</div>
		</div>
		<div class="span4 affix">
			<div class="row-fluid">
				<div class="span12">
					<label class="label" for="search">Nombre total d'acteurs : {{acteurs.length}}</label>
					<input type="text" class="search-query" placeholder="recherche"	id="search" ng-model="query"/>
				</div>
			</div> 
			<div class="row-fluid">
				<div class="span12">&nbsp;
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<button type="button" class="btn btn-block" ng-click="ajouter()">Ajouter un acteur</button>
				</div>
			</div>
		</div>
	</div>
</div>
